
    
  
  <div id="imagen"> <img src="{{oneMovie.image}}" alt="imgmovie"> </div>
   
   <div id="texto"><h4> {{oneMovie.title}}</h4>

    <p><b>Director:{{oneMovie.director}}</p></b>

  

    <p><b> Stars: </b>{{oneMovie.stars}}</p>

    <p>{{oneMovie.description}}</p>

    <p>{{oneMovie.showtimes}}</p>
    </div>
